:root{
  
}






































/*body{
  background-color: black;
}

.btn{
  border: 6px solid greenyellow;
  font-weight: bold;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: hotpink;
  background-color: var(--glow-color);
  box-shadow:0 0 2em 0.2em var(--glow-color);
  border-radius: 50px;
  margin-top: 200px;
  margin-left: 100px;
   animation: saqlain 3s  linear infinite;
}

.abtn{
  border-top: 6px solid whitesmoke; 
  border-right: 6px solid greenyellow; 
  border-left: 6px solid greenyellow; 
  border-bottom: 6px solid greenyellow; 
  animation: rotate 3s infinite;
}
@keyframes rotate infinite{
  25%{
    transform: rotate(25deg);
  }
}*/
/*@keyframes saqlain{
  0%{
    opacity: 1;
  }
  1%{
    opacity: 2;
  }
  2%{
    opacity: 3;
  }
  3%{
    opacity: 2;
  }
  
}*/