*{
  margin: 0;
  padding: 0;
}

.main{
  border: 2px solid black;
  margin: 44px;
}

h1{
  font-size: 23px;
  color: greenyellow;
  text-align: center;
}

img{
  padding-left: 70%;
  background-color: none;
}